{{> head}}

<body>
    
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                {{> navbar}}
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-10 offset-1">
                {{{ body }}}
            </div>
        </div>
    </div>
    {{> footer}}
