<div class="row mt-5 mb-4">
    <div class="col-6 offset-3">
        <div class="card">
            <div class="card-body my-warning">
                <center><h1>404 - Ошибка</h1>
                <p>Страница которая вы запрашиваете не существует!</p>
                <a type="btn" href="/" class="btn lerge btn-primary">Перейти на главную</a>
                </center>
            </div>
        </div>
    </div>
</div>