<div class="jumbotron mt-4">
    <h1>О приложении</h1>
    <p>Этот проект я сделал в учебных цельях, что бы применить знание по Node JS,
    MongoDB и Bootstrap 4. В этом WEB приложении вы сможете содать свой аккаунт
    и после этого вам будет доступна добавление различных постов в соответствующей выбранной вами тематике. 
    Так же вы можете посмотреть профили и созданные посты других пользователей и оставлять
    под ним свои комментарии. Автор приложения <a href="https://t.me/Bekhroos">Холмуминов Бехруз</a>
    </p>
</div>