<div class="row mt-5 mb-4">
    <div class="col-6 offset-3">
        <div class="card">
            <div class="card-body my-warning">
                <center><p>Что бы добавить посты вы должны быть <a href="/auth/registration">зарегистрированы</a> на сайте</p>
                <p>Если у вас уже есть аккаунт то <a href="/auth">авторизуйтесь</a> в систему</p></center>
            </div>
        </div>
    </div>
</div>